
body {
  font-family: 'Inknut Antiqua', serif;
}
main {
    text-align: center;
    margin: 0 auto;
}

.card {
    margin: 0.5em;
    height: 5em;
    width: 3em;
    text-align: center;
    font-size: 2em;
    padding: 2em 1em;
    border: 1px solid red;
    border-radius: 1em;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px gray;
}

#result {
    font-size: 2em;
    font-style: italic;
    text-shadow: 1px 1px 1px gray;
}

nav {
    clear: both;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 1em;
}

button {
    font-size: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
}

button:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

button:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}
